<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Preparar tirada</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h3>Preparar tirada</h3>
            <p>Añade dados (o una moneda) de varias caras en una lista para obtener una lista de resultados aleatorios.
            <br>Permite: Añadir mediante este formulario y borrar todos o volver a lanzar la lista existente desde mesa.</p>
        </div>
        <div>
            <form th:action="@{/llenarCubilete}" method="post">
                <label for="caras">Caras:</label>
                <select class="form-control" id="caras" name="caras">
                    <option th:each="option : ${options}" th:value="${option}" th:text="${option}" th:selected = "${valorDefectoCara} == ${option}"></option>
                </select>
                <label for="numeroDeDados">Numero a lanzar:</label>
                <input type="text" id = "numeroDeDados" name = "numeroDeDados" th:value="${valorDefectoNumero}" required>
                <button type="submit">Lanzar</button>
            </form>
        </div>
        <br>
        <div>
            <a th:href="@{'/mesa?lanzar=no'}">Ir a mesa</a>
        </div>
    </body>
</html>
