<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mesa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h3>Mesa</h3>
            <p>Tabla de resultados:
            <br>Cada objeto tiene su id y está ordenado por sus caras.</p>
        </div>
        <div>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Caras</th>
                    <th>Resultado</th>
                </tr>
                <tr th:each="dado : ${dados}">
                    <td th:text="${dado.id}"></td>
                    <td th:text="${dado.caras}"></td>
                    <td th:text="${dado.caraSuperior}"></td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <a th:href="@{'/llenarCubilete?bolsa=no'}">Regresar a formulario</a> · 
            <a th:href="@{'/llenarCubilete?bolsa=si'}">Vaciar cubilete</a> · 
            <a th:href="@{'/mesa?lanzar=si'}">Volver a lanzar todo</a>
        </div>
    </body>
</html>
